html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #5c007d;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.0625rem;
  line-height: 1.3;
  background: linear-gradient(70deg, #fff3ff, #ffffeb);
}

h1,
h3,
h4 {
  font-family: "Arial", sans-serif;
  font-weight: 800;
  line-height: 1em;
  color: #ff37ff;
  word-wrap: break-word;
}

h1 {
  font-size: 2.0346666667rem;
  padding: 0.625rem 0;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 3.052rem;
    padding: 1.25rem 0;
  }
}

h2 {
  font-size: 2.441rem;
  font-weight: 100;
}

@media (min-width: 30rem) {
  h2 {
    font-size: 2.441rem;
    padding: 20px 0 20px 0;
  }
}

header {
  background: linear-gradient(70deg, #ffff41, #ff66ff);
}

header a {
  display: block;
}

.logo {
  display: block;
  width: 8.25rem;
  padding: 1rem 0;
  margin: 0 auto;
}

main {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 30rem) {
  main {
    width: 60%;
  }
}

.intro {
  margin: 0 auto;
  padding: 3.125rem 0;
}

.intro p {
  font-size: 1.125rem;
  line-height: 1.4em;
}




/* todo... */

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;}


small, .text_small {
  font-size: 0.8rem;
}

h2 {
  text-align: center;
  color: #ba09e6;
  font-size: 1.66rem;
  margin-bottom: 0.625rem;
}

@media (min-width: 30rem) {
  h2 {
    font-size: 40px;
    margin-bottom: 1.25rem;
  }
}




.lila {
  color: #ba09e6;
}



h3 {
  /* font-size: 30px; */
  padding: 10px 0;
}

@media (min-width: 30rem) {
  h3 {
    font-size: 40px;
    margin: 0 0 20px 0;
  }
}


h4 {
  /* font-size: 24px; */
  padding: 0 0 15px 0;
}

@media (min-width: 30rem) {
  h4 {
    font-size: 40px;
    margin: 0 0 20px 0;
  }
}

a {
  font-family: "Courier New", monospace;
  color: #376dff;
}

a:hover {
  background-color: #ff66ff;
  color: #fff;
}

p {
  padding-bottom: 5px;
  color: #5c007d;

  word-wrap: break-word;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #ff66ff;
  border: none;
}

button {
  background-color: white;
  border: 5px solid #ffff17;
  color: #376dff;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Courier New", monospace;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  margin: 0;
}




.option-a {
  border-radius: 20px;
  border: 1px solid #ff37ff;
  padding: 20px;
  margin: 0 0 20px 0;
}

.option {
  border-radius: 20px;
  border: 1px solid #ba09e6;
  padding: 20px;
  margin: 0 0 20px 0;
}

.ergebnis {
  background: #fffc89;
  padding: 20px;
  margin: 50px 0 70px 0;
}

.text {
  font-size: 13px;
  line-height: 1.4em;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

  word-wrap: break-word;
}

@media (min-width: 30rem) {
  .text {
    padding: 70px;
  }
}

footer {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.links {
  margin-bottom: 50px;
}

.links a {
  background-color: #ffff17;
}

.imprint {
  font-size: 15px;
}
