html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #5c007d;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.0625em;
  line-height: 1.3em;
  background: linear-gradient(70deg, #fff3ff, #ffffeb);
}

header {
  background: linear-gradient(70deg, #ffff41, #ff66ff);
}

header a {
  display: block;
}

.logo {
  display: block;
  height: 4.375rem;
  margin: 0 auto;
}

/* todo... */
.lila {
  color: #ba09e6;
}

h1,
h2,
h3,
h4 {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1em;
  color: #ff37ff;
}

h1 {
  padding: 20px 0 20px 0;
}

h3 {
  font-size: 30px;
  padding: 10px 0;
}

h4 {
  font-size: 24px;
  padding: 0 0 15px 0;
}

a {
  font-family: "Courier New", monospace;
  color: #376dff;
}

a:hover {
  background-color: #ff66ff;
  color: #fff;
}

p {
  padding-bottom: 5px;
  color: #5c007d;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #ff66ff;
  border: none;
}

button {
  background-color: white;
  border: 5px solid #ffff17;
  color: #376dff;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Courier New", monospace;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  margin: 0;
}

main {
  width: 60%;
  margin: 0 auto;
}

.intro {
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.intro p {
  font-size: 18px;
  line-height: 1.4em;
}

.option-a {
  border-radius: 20px;
  border: 1px solid #ff37ff;
  padding: 20px;
  margin: 0 0 20px 0;
}

.option {
  border-radius: 20px;
  border: 1px solid #ba09e6;
  padding: 20px;
  margin: 0 0 20px 0;
}

p.big {
  text-align: center;
  color: #ba09e6;
  font-size: 40px;
  margin: 0 0 20px 0;
}

.ergebnis {
  background: #fffc89;
  padding: 20px;
  margin: 50px 0 70px 0;
}

.text {
  font-size: 13px;
  line-height: 1.4em;
  background-color: #ffffff;
  padding: 70px;
  border-radius: 20px;
  margin-bottom: 20px;
}

footer {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.links {
  margin-bottom: 50px;
}

.links a {
  background-color: #ffff17;
}

.imprint {
  font-size: 15px;
}
