html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #5c007d;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.0625rem;
  line-height: 1.3;
  background: linear-gradient(70deg, #fff3ff, #ffffeb);
  word-wrap: break-word;
}

/* typo */
h1,
h3,
h4 {
  font-family: "Arial", sans-serif;
  font-weight: 800;
  line-height: 1em;
  color: #ff37ff;
}

h1 {
  font-size: 2.034666666666667rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 3.052rem;
  }
}

h2 {
  font-size: 1.6273333333333333rem;
  font-weight: 100;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  color: #ba09e6;
}

@media (min-width: 30rem) {
  h2 {
    font-size: 2.441rem;
  }
}

h3 {
  font-size: 1.302rem;
  padding-bottom: 1rem;
}

@media (min-width: 30rem) {
  h3 {
    font-size: 1.953rem;
  }
}

h4 {
  font-size: 1.042rem;
}

@media (min-width: 30rem) {
  h4 {
    font-size: 1.563rem;
  }
}

p {
  font-size: 1rem;
  padding-bottom: 0.6666666667rem;
  color: #5c007d;
}

p.big {
  font-size: 1.25rem;
  line-height: 1.4;
}

a {
  font-family: "Courier New", monospace;
  color: #376dff;
}

a:hover,
a:active {
  background-color: #ff66ff;
  color: #fff;
}

.button {
  display: inline-block;
  font-size: 0.9375rem;
  margin: 0;
  padding: 0.5rem 0.9375rem;
  border: 0.3125rem solid #ffff17;
  border-radius: 0.75rem;
  color: #376dff;
  background-color: white;
  font-family: "Courier New", monospace;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: inherit;
  color: inherit;
}

ol {
  display: block;
  list-style-type: decimal;
  margin: 1rem 0;
  padding-left: 1.25rem;
}

@media (min-width: 30rem) {
  ol {
    padding-left: 2.5rem;
  }
}

/* page layout */
header {
  background: linear-gradient(70deg, #ffff41, #ff66ff);
}

header a {
  display: block;
}

.logo {
  display: block;
  width: 8.25rem;
  padding: 1rem 0;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding: 2.0833333333rem 0;
}

@media (min-width: 30rem) {
  main {
    width: 80%;
    padding-top: 3.125rem;
  }
}

@media (min-width: 45rem) {
  main {
    width: 60%;
    max-width: 50rem;
    padding-top: 5rem;
  }
}

.option {
  border-radius: 0.8333333333rem;
  border: 0.0625rem solid #ff37ff;
  padding: 0.8333333333rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

@media (min-width: 30rem) {
  .option {
    border-radius: 1.25rem;
    padding: 1.25rem;
  }
}

.option--a {
  border-color: #ff37ff;
}

.option--b {
  border-color: #ba09e6;
}

.ergebnis {
  background: #fffc89;
  padding: 1.25rem;
  margin: 3.125rem 0 0 0;
}

@media (min-width: 30rem) {
  .ergebnis {
    margin-bottom: 4.375rem;
  }
}

.ergebnis .button {
  border-color: #ff37ff;
  color: black;
}

.text {
  font-size: 0.8125rem;
  line-height: 1.4;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  border-radius: 1rem;
  background-color: #ffffff;
}

.imprint {
  margin: 0 auto;
  padding: 3.125rem 0;
}

.imprint p {
  font-size: 1.125rem;
  line-height: 1.4em;
}

footer {
  margin: 0 auto;
  padding-bottom: 4rem;
}

footer .m-rb {
  margin: 0 0.625rem 0.625rem 0;
  display: inline-block;
}

@media (min-width: 30rem) {
  footer {
    width: 80%;
  }
}

@media (min-width: 45rem) {
  footer {
    width: 60%;
    max-width: 50rem;
  }
}

/* helpers */
.space {
  padding-right: 1rem;
  padding-left: 1rem;
}

.lila {
  color: #ba09e6;
}

.line {
  display: block;
  width: 100%;
  height: 0.0625rem;
  margin: 2rem 0;
  background-color: #ff66ff;
}
